<pane-set unique-id="layer-admin" open-heading-cols="4">
    <pane-set-header>
        <div class="pane-set-title" title="Layer Administration"></div>
    </pane-set-header>
    <pane-set-footer>
        <button class="btn btn-default pull-right" ng-click="createLayer()">New Layer</button>
    </pane-set-footer>

    <pane ng-repeat="l in layers.list" unique-id="{{l._id}}">
        <pane-heading>
            <h4>{{l.name}}</h4>
            <div class="file-info" file="l._sourceFile"></div>
            <a href ng-click="removeLayer(l,$event)">Remove layer</a>
        </pane-heading>
        <div>
            <div class="layer-admin-map" layer="l" ng-if="isPaneActive(l._id)"/>
        </div>
    </pane>
</pane-set>
